<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Skin care</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-link text-light">Log Out</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <img src="https://imgs.search.brave.com/8N7aThHqkM1WXVMItWrhBI_EeAKN2VVhJvwlPY0C8EE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTA2/NTYzNjA3OC9waG90/by9jcmVhbS1pbi1v/cGVuLXBvdC5qcGc_/cz02MTJ4NjEyJnc9/MCZrPTIwJmM9VkVf/aEwyajdoR0RnelVN/b1ZjcHFmeVVWbnRP/enNLeWNoRDRhS1di/aUNpUT0" class="card-img-top" alt="Random Item">
                <div class="card-body">
                    <h5 class="card-title">Random Item</h5>
                    <p class="card-text">This is a random item description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card">
                <img src="https://m.media-amazon.com/images/I/31e5LYel1fL._SX300_SY300_QL70_FMwebp_.jpg" class="card-img-top" alt="Random Item">
                <div class="card-body">
                    <h5 class="card-title">Random Item 2</h5>
                    <p class="card-text">This is a random item description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card">
                <img src="https://m.media-amazon.com/images/I/31e5LYel1fL._SX300_SY300_QL70_FMwebp_.jpg" class="card-img-top" alt="Random Item">
                <div class="card-body">
                    <h5 class="card-title">Random Item 3</h5>
                    <p class="card-text">This is a random item description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card">
                <img src="https://m.media-amazon.com/images/I/31e5LYel1fL._SX300_SY300_QL70_FMwebp_.jpg" class="card-img-top" alt="Random Item">
                <div class="card-body">
                    <h5 class="card-title">Random Item 4</h5>
                    <p class="card-text">This is a random item description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card">
                <img src="https://m.media-amazon.com/images/I/31e5LYel1fL._SX300_SY300_QL70_FMwebp_.jpg" class="card-img-top" alt="Random Item">
                <div class="card-body">
                    <h5 class="card-title">Random Item 5</h5>
                    <p class="card-text">This is a random item description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<footer class="footer mt-5 py-3 bg-light">
    <div class="container text-center">
        &copy; 2023 Skin Care. All rights reserved.
    </div>
</footer>